* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: ixi-type, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  line-height: 1.2;
}

div {
  display: block;
  unicode-bidi: isolate;
}
